<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="prefix" value="$(arg tf_prefix)" />
  <xacro:property name="imu_frame" value="${prefix + '/imu_frame' if prefix != '' else 'imu_frame'}" />

  <xacro:macro name="imu_gazebo" params="link imu_topic update_rate">
    <gazebo reference="${link}">
      <sensor name="${link}_imu" type="imu">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>false</visualize>
        <topic>${imu_topic}</topic>
        <gz_frame_id>${imu_frame}</gz_frame_id>
        
        <imu>
          <angular_velocity>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>${sqrt(8e-06)}</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>${sqrt(8e-06)}</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>${sqrt(3e-07)}</stddev></noise></z>
          </angular_velocity>
          <linear_acceleration>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>${sqrt(5e-05)}</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>${sqrt(0.0001)}</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>${sqrt(0.00013)}</stddev></noise></z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>